{{set . "title" "James Hopkins"}}
{{template "header.html" .}}

<main>
  <h1 class="lg-heading">My <span class="text-secondary">Blog</span></h1>
  <div class="boxes">
    <a href="blog/equifax.htm">
      <div>
        <span class="text-secondary">Title: </span> Equifax Data Breach </br>
        <span class="text-secondary">Description: </span> What happened, how it happened and how it can be prevented in the future. </br>
        <span class="text-secondary">Date: </span> 27/07/2018 </br>
      </div>
    </a>
  </div>
</main>

{{template "footer.html" .}}