{{set . "title" "James Hopkins"}}
{{template "header.html" .}}

<main id="contact">
  <h1 class="lg-heading">
    Contact Me
  </h1>
  <h2 class="sm-heading">
    This is how you can reach me...
  </h2>
  <a href="https://www.linkedin.com/in/james-hopkins-003830151/">
    <span class="social-grid" style="background-color: var(--main);">
      <span class="linkedin-icon linkedin-filter"></span>
      <span class="social-text" style="color: var(--main-dark);">LinkedIn</span>
    </span>
  </a>
  <a href="https://github.com/James-Hopkins">
    <span class="social-grid">
      <span class="github-icon github-filter"></span>
      <span class="social-text">Github</span>
    </span>
  </a>
  <a href="mailto:james@hopkins.irish">
    <span class="social-grid" style="background-color: var(--main);">
      <span class="email-icon email-filter"></span>
      <span class="social-text" style="color: var(--main-dark);">james@hopkins.irish</span>
    </span>
  </a>
</main>

{{template "footer.html" .}}