{{set . "title" "James Hopkins"}}
{{template "header.html" .}}

<main id="home">
  <h1 class="lg-heading">
    James Hopkins
  </h1>
  <h2 class="sm-heading">
    Web Developer, Programmer & Engineer
  </h2>
  <!-- <div class="social-media" style="text-align: center;">
    <a href="https://www.linkedin.com/in/james-hopkins-003830151/">
      <img src="../public/img/linkedin.svg" class="logo linkedin-filter" />
    </a>
    <a href="https://github.com/James-Hopkins">
      <img src="../public/img/github.svg" class="logo github-filter" />
    </a>
  </div> -->
</main>

{{template "footer.html" .}}
