    <footer class='footer'>
      <a href="https://www.linkedin.com/in/james-hopkins-003830151/">
        <img src="../public/img/linkedin.svg" class="logo-small linkedin-filter" />
      </a>
      <a href="https://github.com/James-Hopkins">
        <img src="../public/img/github.svg" class="logo-small github-filter" />
      </a>
      <a href="mailto:james@hopkins.irish">
        <img src="../public/img/envelope.svg" class="logo-small email-filter" />
      </a>
      Copyright &copy; <span id="year"></span>
      <script>    
        document.getElementById("year").innerHTML = new Date().getFullYear();
      </script>
    </footer>

    {{if .DevMode}}
      {{template "debug.html" .}}
    {{end}}
  </body>
</html>
