<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/html.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/about.css">
    <link rel="stylesheet" type="text/css" href="/public/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
  </head>
  <body>

    <header>
      <div class="menu-grid">
        <a href="/" class="menu-href">
          <span class="home-link menu-link">
            Home
          </span>
        </a>
        <a href="/about" class="menu-href">
          <span class="about-link menu-link">
            About Me
          </span>
        </a>
        <a href="/contact" class="menu-href">
          <span class="contact-link menu-link">
            How To Reach Me
          </span>
        </a>
        <a href="/blog" class="menu-href">
          <span class="blog-link menu-link">
            Blog
          </span>
        </a>
      </div>
    </header>
